{% extends 'base.html' %}
{% block content %}

  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Health Care Now</h1>
          <p class="lead">Choosing the right plan</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Choose Plan</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="Choose Plan" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Choose your healthcare plan here!</h2>
          <img src="https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80" alt="">
        </div>
        <section id="buttons-checkbox" class="py-4">
          <p>
            </p>
        <p class="lead">Please choose your current symptopms/health issues or health needs you might have in the near future.</p>
        <div class="btn-group" data-toggle="buttons-checkbox">
        <break>
        <button type="button" class="btn btn-outline-primary">Drugs or Alchol Issues</button>
        <button type="button" class="btn btn-outline-secondary">Serious Allergies</button>
        <button type="button" class="btn btn-outline-danger">Behavioral conditions</button>
        <button type="button" class="btn btn-outline-warning">Substance Abuse issues</button>
        <button type="button" class="btn btn-outline-info">Cancer</button>
        <break>
        <button type="button" class="btn btn-outline-dark">Aids/Hiv</button>
        <button type="button" class="btn btn-outline-secondary">Parkinson disease</button>
        <button type="button" class="btn btn-outline-danger">Have multiple issues on different levels of health needs</button>
        <button type="button" class="btn btn-outline-warning">Pregnant</button>
        <button type="button" class="btn btn-outline-info">Plan to be pregnant in the near future</button>
        <button type="button" class="btn btn-outline-dark">Heart Issues</button>
          </div>
          <p>
            </p>
            <p class="lead">Do you often:</p>
            <div class="btn-group" data-toggle="buttons-checkbox">
          <button type="button" class="btn btn-outline-primary">See a doctor for annual check ups or physical exams?</button>
          <button type="button" class="btn btn-outline-secondary">See counseling/therapy often?</button>
          <button type="button" class="btn btn-outline-danger">Get routine vaccines or flu shots?</button>
          <button type="button" class="btn btn-outline-warning">Blood tests?</button>
          <button type="button" class="btn btn-outline-info">Urine tests?</button>
          <button type="button" class="btn btn-outline-dark">Differeny types of illness screenings?</button>
          </div>
          <p>
            </p>
          <p class="lead">Are you prescribed medication?</p>
            <div class="btn-group" data-toggle="buttons-checkbox">
          <button type="button" class="btn btn-outline-primary">Yes</button>
          <button type="button" class="btn btn-outline-secondary">No</button>
          </div>
          <p>
            </p>
          <p class="lead">Do you need help with:</p>
            <div class="btn-group" data-toggle="buttons-checkbox">
          <button type="button" class="btn btn-outline-primary">Complete daily routine (eating, bathing, dressing)</button>
          <button type="button" class="btn btn-outline-secondary">occupational therapy</button>
          <button type="button" class="btn btn-outline-danger">Injections</button>
          <button type="button" class="btn btn-outline-warning">Speech Therapy</button>
          <button type="button" class="btn btn-outline-info">Physical Therapy</button>
            <button type="button" class="btn btn-outline-dark">cognitive therapy</button>
              </div>
            <p>
              </p>
            <p class="lead">Do you plan to get:</p>
            <div class="btn-group" data-toggle="buttons-checkbox">
            <button type="button" class="btn btn-outline-primary">Cataract Surgery</button>
            <button type="button" class="btn btn-outline-secondary">Vasectomy</button>
            <button type="button" class="btn btn-outline-danger">Knee/Hip Replacement</button>
            </div>
            <p>
              </p>
            <p class="lead">Please click the boxes that describes yourself to get the best fit plan:</p>
              <div class="btn-group" data-toggle="buttons-checkbox">
            <button type="button" class="btn btn-outline-primary">18-25</button>
            <button type="button" class="btn btn-outline-secondary">26 -35</button>
            <button type="button" class="btn btn-outline-danger">36 -50</button>
            <button type="button" class="btn btn-outline-warning">Play Sports</button>
            <button type="button" class="btn btn-outline-info"> Have a labor job</button>
            </div>
        </div>
        </section>
        <div class="col-md-4">
          <div class="card">
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <hr>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
        <div class="col-md-4">
          <img src="assets/img/realtors/kyle.jpg" alt="" class="rounded-circle mb-3">
          <h4>Jacqueline Rollins</h4>
          <p class="text-success">
            <i class="fas fa-award text-success mb-3"></i> Messaiah</p>
          <hr>

        </div>

        <div class="col-md-4">
          <img src="assets/img/realtors/mark.jpg" alt="" class="rounded-circle mb-3">
          <h4>Ian Crueldad</h4>
          <p class="text-success">God's Choosen Warrior</p>
          <hr>

        </div>

        <div class="col-md-4">
          <img src="assets/img/realtors/jenny.jpg" alt="" class="rounded-circle mb-3">
          <h4>Dino</h4>
          <p class="text-success">Sniffer</p>
          <hr>
        </div>
      </div>
    </div>
  </section>


{% endblock  %}
